/* Import Roboto Font */
@font-face {
    font-family: 'Roboto';
    src: url('http://localhost:8081/api/roboto/roboto-regular-webfont.eot');
    src: url('http://localhost:8081/api/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://localhost:8081/api/roboto/roboto-regular-webfont.woff') format('woff'),
         url('http://localhost:8081/api/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('http://localhost:8081/api/roboto/roboto-regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-bold-webfont.eot');
    src: url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bold-webfont.woff') format('woff'),
         url('roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('roboto/roboto-bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-bolditalic-webfont.eot');
    src: url('roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('roboto/roboto-bolditalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Roboto';
    src: url('roboto/roboto-italic-webfont.eot');
    src: url('roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-italic-webfont.woff') format('woff'),
         url('roboto/roboto-italic-webfont.ttf') format('truetype'),
         url('roboto/roboto-italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}	

/*Import Ropa Sans Font, do we need other font file types??*/
@font-face {
    font-family: 'RopaSans';
    src: url('ropasans/RopaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'RopaSans';
    src: url('ropasans/RopaSans-Italic.ttf') format('truetype');
    font-style: italic;
}

/* Main Styles */
body { color:#000000; font-family:'Roboto'; font-size:14px; height:768px; min-width: 1280px; min-height: 860px; overflow: hidden;}
a { color:#ffffff; text-decoration:none; text-transform:uppercase; }
a:hover { color:#8eb423; }
h1 { font-family:'RopaSans'; font-weight:normal; }
h2 { font-family:'RopaSans'; font-weight:normal; }
li { list-style-type:none; }

#wrapper {
    display:block;
    float:left;
 /*   min-width:1280px;*/
}

#visualization{
    position: fixed;
}

#dataviz { 				
	background-color: 	#000000;
	margin: 			0px;
	overflow-y: 		hidden;
	overflow-x:         auto;
}
#overlay_2d{
	-webkit-perspective:		800;
	position:					absolute;
	margin: 					0px;
	width:						100%;
	height:						100%;
	pointer-events:				none;
}		

.marker {
	position:				absolute;
	display:				inline-block;
	background-color: 		rgba(0,0,0,.87);	
	color:					#ffffff;
	font-size:				4pt;
    font-family: 			'RopaSans';
	-moz-user-select:		-moz-none;
	-khtml-user-select:		none;
	-webkit-user-select:	none;
	margin: 				0px;
	border:					0px;
	padding:				10px;
	overflow: 				hidden;		
	cursor:					pointer;
}	

.country {
	margin-right:			10px;
}


.detail {
	color:					#aaaaaa;
}

#loading{
    background-color: #111;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -38px;
    margin-left: -380px;
    color: white;
    padding: 16px 30px;
    width: 700px;
    height: 45px;
    line-height: 11px;
}


/*Styles by Pitch*/
.clear {
    clear:both;
}

/*Remove all text selection (except for Text Input)*/
* {
	-webkit-touch-callout: none;
	-webkit-user-select:   none;
	-khtml-user-select:    none;
	-moz-user-select:      none;
	-ms-user-select:       none;
	user-select:           none;
}
input[type='text'] {
	-webkit-touch-callout: default;
	-webkit-user-select:   auto;
	-khtml-user-select:    auto;
	-moz-user-select:      text;
	-ms-user-select:       text;
	user-select:           text;

}
/*
Elements to control the title and country selector
*/
.overlayCountries {
    z-index: 10001; /* selected country has z-index:10000*/
}
.pointer {
    pointer-events: auto;
}
.noPointer {
    pointer-events: none;
}

#glContainer {
    z-index:1;
    pointer-events:none;
}
#glContainer canvas {
    z-index:1;
    pointer-events:none;
}

#hudHeader {
    position: 				absolute;
/*    width: 					95%; */
    left: 					30px;
    top: 					20px;
    color: 					#fff;
    font-family: 			'RopaSans';
    display:                none;
    background: rgba(0,0,0,0.4);
}
#hudHeader h1 {
    font-size: 				32px;
    font-family: 			'RopaSans';
    margin: 				0 0 0px 0;
    display:                none;
    float:                  left;
}
#hudHeader h1 .subtitle {
    font-size: 14px;
    color: #ddd;
    
}
#hudButtons {
    display: none;
    position: absolute;
    top: 20px;    

    width: 489px;
}
#hudButtons .countryTextInput {
    float:                  right;
    font-size: 				17px;
    width: 					300px;
    margin-right: 			5px;
	font-family: 			'RopaSans';
	text-transform:          uppercase;
}
#hudButtons .armsBtn {
    float: right;
    background: 			#333333;
    padding: 				3px 10px 2px;
    color: 					white;
    border: 				0;
    font-size: 				18px;
	font-family: 			'RopaSans';
	cursor: 				pointer;
	margin-right: 			0px;
	opacity:                0.9;
}
#hudButtons .armsBtn:hover {
    opacity: 1;
}
#hudButtons .aboutBtn {
	display:				block;
	clear:					both;
	margin-right: 			0px;
	width: 					76px;

}
#hudButtons .zoomBtn {
    margin-right:           5px;
    width:                  30px;
    font-weight:            bold;
    height:                 24px;
    margin-top:             2px;
}

#hudButtons .zoomOutBtn {
    font-size:              17px;
}
.ui-autocomplete {
    position: absolute;
}
.ui-autocomplete .ui-menu-item {
    border-top:             1px solid #656565;
    margin-left:            -39px;
    padding-left:           4px;
    font-family:            'RopaSans';
    font-size:              18px;
    color:                  white;
    background:             #333;
    width:                  301px;
}
.ui-autocomplete #ui-active-menuitem {
    background:             white;
    color:                  black;
    width:                  301px;
    display:                block;
    margin-left:            -4px;
    padding-left:           4px;
}

/*
Bar graph on left
*/
#barGraph {
    position: absolute;
    /*bottom:10px;*/
    left:-7px;
    opacity: 0.9;
}
#barGraph .import.ammo {
	fill: 					#44B2D4;
}
#barGraph .import.civ {
	fill: 					#4679C1;
}
#barGraph .import.mil {
	fill:					#1658B2;
}
#barGraph .export.ammo {
	fill: 					#FFA90B;
}
#barGraph .export.civ {
	fill: 					#FF7018;
}
#barGraph .export.mil {
	fill:					#E83E0A;
}
#barGraph .importLabel text,#barGraph .exportLabel text {
	fill: 					white;
    font-family:			Roboto;
}
#barGraph .totalLabel {
    fill: 					white;
    font-family:			Roboto;
    font-size: 				23px;
}
#barGraph .exportLabel {
    font-family: 			Roboto;
    font-size: 				14px;
    fill: 					#FFA90B;
}
#barGraph .importLabel {
    font-family: 			Roboto;
    font-size: 				14px;
    fill: 					#44B2D4;
}
#barGraph .barGraphLabelBG {
    fill: rgba(0,0,0,0.8);
}
/* histogram and timeline at bottom */
#history {
    position: 				absolute;
    bottom: 				0;
    left: 					386px;
    background-color: 		rgba(43,43,43,0.9);
    display: 				none;
}
#history ul {
    list-style-type:        none;
    margin:                 10px;
    padding:                0;
    padding-bottom:         15px;
    padding-top:            22px;
    color:                  white;
    font-size:              12px;
    font-family:            'Roboto';
    width:                  668px;
    background:             url('timelineBG.png') 8px 0 no-repeat; /*to be resized!*/
}
#history ul li {
    width:                  35px;
    float:                  left;
    text-align:             center;
    margin-top:             -30px;
    padding-top:            30px;
    cursor:                 pointer;
}
#history .timeline #handle {
    cursor:                 pointer;
    width:                  36px;
    height:                 36px;
    background:             url('yearHandle.png') 0px 0 no-repeat;
    position:               absolute;
    bottom:                 20px;
    left:                   642px;    
}
#history .graph {
    display: none;
}
#history .close {
    width: 8px;
    height: 8px;
    background: url('close.png') 0 0 no-repeat;
    margin-right: 8px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    pointer-events:auto;
}

#history .labels {
    margin-right: 35px;
}
#history .labels .change {
    font-family: RopaSans;
    font-size: 23px;
    color: white;
    margin-left: 31px;
    float: left;
    margin-top: 10px;
}
#history .labels .imports {
    float: right;
    font-family: Roboto;
    font-size: 14px;
    color:#70B4CB;
    margin-top: 10px;
}
#history .labels .exports {
    float: right;
    font-family: Roboto;
    font-size: 14px;
    color: #FFA90B;
    margin-top: 10px;
    margin-left: 10px;
}
#histogram path {
    fill: none;
    stroke-width: 2px;
}
#histogram .export {
    stroke:         #FFA90B;
}
#histogram .import {
    stroke:         #44B2D4;
}
#histogram .tick {
    fill:           none;
    stroke:         #959595;
}
#histogram .tickLbl {
    fill: #fff;
    font-size: 10px;
    font-family: Roboto;
}
#histogram .plusMinus {
    font-size: 16px;
    fill: #fff;
}
#histogram ellipse.year {
    fill: #fff;
}
#histogram text.yearLabel {
    fill: #fff;
}

/* import export buttons (bottom right)*/
#importExportBtns {
    width:                  298px;
    position:               absolute;
    bottom:                 0px;
    color:                  white;
    display:                none;
}
#importExportBtns>div>div {
    float:                  left;
    width:                  60px;
    text-align:             center;
    height:                 28px;
}
#importExportBtns .imex>div {
    background:             #262626;
}
#importExportBtns .typeLabels div {
    font-family:            'Roboto';
    font-size:              13px;
    text-transform:         uppercase;
    margin-bottom:-12px;
}

#importExportBtns .imex>div {
	cursor: pointer;
	opacity: 0.9;
}
#importExportBtns .imex>div:hover {
    opacity: 1;
}
#importExportBtns>div>.label {
    width:              98px;
    height:             25px;
    text-transform:     uppercase;
    font-family:        'Roboto';
    font-size:          18px;
    margin-left:        10px;
    background:         #262626;
    vertical-align:     middle;
    padding-top:        3px;
}
#importExportBtns .imports .label {
    color:              #44B2D4;
}
#importExportBtns .exports .label {
    color:              #FFA90B;
}
#importExportBtns .imports {
    margin-bottom:      5px;
}
#importExportBtns .mil, #importExportBtns .civ {
    margin-right:       5px;
}
#importExportBtns .imex .check {
    width: 16px;
    height: 16px;
    background: #262626 url('importExportIcons.png') 0 0 no-repeat;
    margin: 6px auto;
}
#importExportBtns .imports .mil .check {
    background-position: 0px 0px;
}
#importExportBtns .imports .mil .check.inactive {
    background-position: 0px -16px;
}
#importExportBtns .imports .civ .check {
    background-position: -16px 0px;
}
#importExportBtns .imports .civ .check.inactive {
    background-position: -16px -16px;
}
#importExportBtns .imports .ammo .check {
    background-position: -32px 0px;
}
#importExportBtns .imports .ammo .check.inactive {
    background-position: -32px -16px;
}
#importExportBtns .exports .mil .check {
    background-position: -48px 0px;
}
#importExportBtns .exports .mil .check.inactive {
    background-position: -48px -16px;
}
#importExportBtns .exports .civ .check {
    background-position: -64px 0px;
}
#importExportBtns .exports .civ .check.inactive {
    background-position: -64px -16px;
}
#importExportBtns .exports .ammo .check {
    background-position: -80px 0px;
}
#importExportBtns .exports .ammo .check.inactive {
    background-position: -80px -16px;
}


#graphIcon {
    width: 42px;
    height: 42px;
    position: absolute;
    bottom: 10px;
    left: 1255px;
    cursor: pointer;
    background: url('graphIcon.png') 0 0 no-repeat;
    display: none;
    opacity: 0.9;
}
#graphIcon:hover {
    opacity: 1;
}

#aboutContainer {
    display: none;
    position: absolute;
    top: 95px;
    width: 350px;
    right: 28px;
    color: white;
}
#aboutBox {
    width: 288px;
    padding: 20px 30px;
    background: #323232;
}
#aboutBox .title {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: RopaSans;
    font-size: 20px;
}
#aboutContainer .arrowUp {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #323232;
    margin-left: 293px;
}
#aboutBox .text {
    font-family: Roboto;
    font-size: 15px;
}
#aboutBox a {
    text-transform: none;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
    color: #FFA90B;
}
#aboutBox a:hover {
    text-decoration: underline;
}


/* Small size */
@media all and (max-width: 1395px) {
    #importExportBtns {
        width: 187px;
    }
    #importExportBtns>div>div {
        width: 23px;
    }
    #importExportBtns .imex>div {
        background: transparent;
    }
    #importExportBtns .imex .label {
        background: #262626;
    }
    #importExportBtns .typeLabels div {
        font-size: 12px;
        -webkit-transform:rotate(323deg);
        -moz-transform:rotate(323deg);
        -o-transform:rotate(323deg);
        -ms-transform:rotate(323deg);
        margin-top: -2px;
    }
    
    #importExportBtns .typeLabels .mil {
        margin-left: 8px;
    }
    #importExportBtns .typeLabels .civ {
        margin-left: 2px;
    }
    #importExportBtns .typeLabels .ammo {
        margin-left: -1px;
    }
}
